@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <strong>Póth Árpád Mihály</strong> <a href="mailto:poth.arpad@gmail.com">poth.arpad@gmail.com</a><br />
</address>
